
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,700;1,9..144,700&family=Montserrat:wght@500;700&display=swap');


:root {
  --mobile:375px;
  --desktop:375px;
  --Dark-cyan: hsl(158, 36%, 37%);
  --Cream: hsl(30, 38%, 92%);
  --Very-dark-blue: hsl(212, 21%, 14%);
  --Dark-grayish-blue: hsl(228, 12%, 48%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --White: hsl(0, 0%, 100%);

  --fs-primary: 14px;
  --ff-Montserrat: 'Montserrat', sans-serif;
  --ff-Fraunces: 'Fraunces', sans-serif;

  --fw-normal: 500;
  --fw-bold: 700;

}





* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  background-color: var(--Cream);
}

.card{
  
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 90%;
  background-color: var(--White);
  margin-top: 40px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.img-container{
  height: 230px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.main{
  flex:1;
}

.information-card{
  padding: 20px;
}

.img-container img{
  content: url('images\\image-product-mobile.jpg');
  max-width: 100%;
  max-width: 100%;
  
}
h1{
  font-family: var(--ff-Fraunces);
  font-weight: var(--fw-bold);
}
.current-price{
  color: var(--Dark-cyan);

}
p{
  color: var(--Dark-grayish-blue);
}

.caption{
  letter-spacing: 5px;

}

.prices{
  display: flex;
  align-items: center;
  gap: 15px;
  
}

.btn-container{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.btn{
  background-color: var(--Dark-cyan);
  border: none;
  border-radius: 8px;
  padding: 15px;
  width: 100%;
  color: white;
  font-family: var(--ff-Montserrat);
  font-weight: var(--fw-bold);
}